In [1]:
import pandas as pd
from pathlib import Path
# import numpy as np

In [2]:
import os,glob
g = os.getcwd()
g
path = 'D:\\repos\\CIAT\\IDB_PROJECT'
os.chdir(path)

In [11]:
path ="Data_IDB/FT"
ext = "csv"
extention = r"{}".format(ext)
type(extention)
direction = Path(r"{}".format(path))
type(direction)
direction
files_list = list(direction.glob(r"*.{}*".format(extention)))
files_list
list_dirs = []
for csv in files_list:
    list_dirs.append(str(csv))
list_dirs

['Data_IDB\\FT\\L7_2011.csv',
 'Data_IDB\\FT\\L7_2012.csv',
 'Data_IDB\\FT\\L7_2013.csv',
 'Data_IDB\\FT\\L7_2014.csv',
 'Data_IDB\\FT\\L7_2016.csv',
 'Data_IDB\\FT\\L8_2013.csv',
 'Data_IDB\\FT\\L8_2014.csv',
 'Data_IDB\\FT\\L8_2015.csv',
 'Data_IDB\\FT\\L8_2016.csv',
 'Data_IDB\\FT\\L8_2017.csv',
 'Data_IDB\\FT\\L8_2018.csv',
 'Data_IDB\\FT\\L8_2019.csv']

In [13]:
alldb = pd.DataFrame()
for csv in list_dirs:
    file = pd.read_csv(csv)
    alldb = pd.concat([alldb,file],ignore_index = True)

alldb = alldb[["NDVI","OSAVI","EVI","NWVI","ID","patca","date"]]
len(alldb)
alldb

           NDVI     OSAVI       EVI      NWVI      ID  patca        date
0      0.474799  0.357199  0.398555 -0.063412  307911      1  2011-04-16
1      0.740011  0.534539  0.559756 -0.223938  307911      1  2011-11-10
2      0.811786  0.596933  0.645622 -0.325548  307911      1  2011-12-28
3      0.619646  0.435611  0.434641 -0.188199  379211      1  2011-02-11
4      0.604652  0.385234  0.343954 -0.125035  380711      0  2011-02-11
...         ...       ...       ...       ...     ...    ...         ...
77212  0.556873  0.372429  0.323569 -0.022270  391511      0  2019-12-17
77213  0.579637  0.321882  0.258821 -0.060474  363121      0  2019-12-17
77214  0.325719  0.247085  0.255949  0.052368  369221      0  2019-12-17
77215  0.798318  0.508104  0.447568 -0.326983   94911      0  2019-12-17
77216  0.821869  0.614827  0.670583 -0.338284   94912      0  2019-12-17

[77217 rows x 7 columns]

# mean data by ID and date

In [72]:
mean_db = alldb.groupby(["ID","date"],as_index=False ).mean()
mean_db
mean_db.to_csv("Data_IDB/alldf.csv",index=False)