In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# Display figures inline in Jupyter notebook
import seaborn as sns
import numpy as np
from pathlib import Path
from scipy import signal

In [2]:
import os,glob
g = os.getcwd()
g
path = 'D:\\repos\\CIAT\\IDB_PROJECT'
os.chdir(path)

In [3]:
df = pd.read_csv("Data_IDB/alldf.csv")
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.head()
df.ID = df.ID.astype(int)
df.head()
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

# Smoothing data

In [4]:
len(df["ID"].unique())
smooth_all = pd.DataFrame()
for fid in df["ID"].unique():
    db = df[df.ID == fid]
    smootdf = db[["NDVI","OSAVI","EVI","NWVI"]]
    smootdf = smootdf.apply(lambda x: signal.savgol_filter(x,9, 2, mode='nearest'),0,result_type='broadcast')
    smooth_merge_ID = pd.concat([db[["ID","date"]].reset_index(drop=True), smootdf.reset_index(drop=True)], axis=1)
    smooth_all = smooth_all.append(smooth_merge_ID.reset_index(drop=True))
smooth_all.to_csv("Data_IDB/alldf_smooth.csv",index=False)

In [5]:
melt_smooth = smooth_all.melt(["date","ID"])
melt_smooth.head()
# melt_smooth["ID"].unique()

        date     ID variable     value
0 2011-01-01  27611     NDVI  0.607092
1 2011-01-17  27611     NDVI  0.562223
2 2011-02-02  27611     NDVI  0.454664
3 2011-03-06  27611     NDVI  0.430091
4 2011-04-23  27611     NDVI  0.407838

set param to plot trends

In [6]:
# sns.set_style("white")
rc={"font.weight":"bold",'figure.figsize':(30, 6),'axes.labelsize': 28, 
    'font.size': 28,'axes.titlesize': 28,'legend.fontsize': 18, 'axes.titlesize': 28,
   "lines.linewidth": 2.5,'font.sans-serif': "Times New Roman"}
# sns.set()
sns.set(style="white", rc=rc,font_scale = 1.8)

DATE = pd.DataFrame({
    'inside':['2011-01-01','2012-01-01','2013-01-01','2014-01-01','2015-01-01','2016-01-01','2017-01-01','2018-01-01','2019-01-01']
})

DATE['inside'] = pd.to_datetime(DATE['inside'], format='%Y-%m-%d')
# DATE
# sns.set_style("white")
# sns.set_context("paper",rc=rc,font_scale = 1.5)

# test graphs plot smooth trends

In [7]:
for fid in melt_smooth.ID.unique():
    db_ID = melt_smooth[melt_smooth.ID == fid]# select data by ID
    db_VI = db_ID[db_ID.variable != "NWVI"] # delete the data from water index

    p = sns.lineplot('date', 'value', hue='variable',data=db_VI)
    p.set(xlabel='Dates', ylabel='VIs value',title="Smooth Time serie for ID: " + str(fid)) #+  str(df1.date.iloc[0][0:4])
    # p.set_xticklabels(p.get_xticklabels(),rotation=30, horizontalalignment='right')

    handles, labels = p.get_legend_handles_labels()
    lgd = dict(zip(labels, handles))
    p.legend(lgd.values(), lgd.keys(),loc='center left', bbox_to_anchor=(0.98, 0.5), ncol=1)
    sns.despine()
    for inside  in DATE.inside:
        p.axvline(inside,color='r',label="start year")
    # # p.xticks(rotation=45)
    # p.tick_params(axis='x', labelrotation=90)
#     sns.despine()
    figure = p.get_figure()
    figure.savefig('Data_IDB/trends/TS_all-' + str(fid)+ '.png', dpi=600)
    plt.clf()