In [16]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [17]:
import os,glob
g = os.getcwd()
g
path = 'D:\\repos\\CIAT\\IDB_PROJECT'
os.chdir(path)

In [18]:
Points = gpd.read_file("Data_IDB/new/Zona_influencia_DR.shp")
# print(Points.crs)
Points = Points.to_crs("EPSG:4326")
ID = str(Points["cuest_id_b"]) + str(Points["parcela"])
str1 = [str(int) for int in Points["cuest_id_b"]] 
str2 = [str(int) for int in Points["parcela"]]
Points["ID"] = [int(s1 + s2) for s1, s2 in zip(str1, str2)]
ok = Points[Points['corregido2'].str.contains("ok")]
base = ok[["ID",'temporary_']]
base["time"] = "Baseline"
# Points.to_csv("test.csv")
# Points = eeconvert.gdfToFc(Points)
# ok.columns
type(base.ID[0])

<ipython-input-18-8b969bfd1fa2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base["time"] = "Baseline"

numpy.int64

In [19]:
followup = pd.read_csv("Data_IDB/Panel_data_PATCA-DR-only_FU1.csv", encoding='latin-1')

In [20]:
followup[followup["cuest_id_b"]==3863]
# print(follwup.columns)
str1 = [str(int) for int in followup["cuest_id_b"]] 
str2 = [str(int) for int in followup["parcela"]]
followup["ID"] = [int(s1 + s2) for s1, s2 in zip(str1, str2)]
FU1 = followup[["ID","time",'temporary_crop']]

In [21]:
merge = base.merge(FU1,how='inner', on="ID")

merge["logical"] = merge.temporary_ ==  merge.temporary_crop

trends = merge[merge.logical==True]
ID = trends["ID"].drop_duplicates()

In [22]:
trends = trends.loc[ID.index.tolist()]

In [24]:
trends[trends.ID==386311]
# type(trends.ID[0])

       ID  temporary_    time_x         time_y  temporary_crop  logical
0  386311           1  Baseline  1. Follow-up1               1     True

In [25]:
trends

         ID  temporary_    time_x         time_y  temporary_crop  logical
0    386311           1  Baseline  1. Follow-up1               1     True
3    396011           1  Baseline  1. Follow-up1               1     True
4    407811           0  Baseline  1. Follow-up1               0     True
6    411411           1  Baseline  1. Follow-up1               1     True
9    372211           1  Baseline  1. Follow-up1               1     True
..      ...         ...       ...            ...             ...      ...
540  321413           1  Baseline  1. Follow-up1               1     True
542  321412           1  Baseline  1. Follow-up1               1     True
543  332612           1  Baseline  1. Follow-up1               1     True
545  337521           1  Baseline  1. Follow-up1               1     True
546  351421           1  Baseline  1. Follow-up1               1     True

[293 rows x 6 columns]