In [1]:
import geopandas as gpd
import pandas as pd
import glob, os
from shapely.geometry import Point
import sidetable

In [2]:
g = os.getcwd()
g
path = 'D:\\repos\\CIAT\\IDB_PROJECT'
os.chdir(path)

In [4]:
point = gpd.read_file("Data_IDB/new/Zona_influencia_DR.shp")

In [5]:
point

,cuest_id_b,parcela,cultivo,temporary_,superf_par,Y,X,patca,correccion,corregido,corregido2,area,geometry
0,3863,11,tabaco,1,4.275839,18.892192,-71.707842,1,centrar,"se movió hacia arriba y la izquierda, la zona ...","ok, revisar tipo cultivo",15123.502,"POLYGON ((214766.218 2091126.297, 214762.791 2..."
1,3865,12,yuca,1,1.886400,18.709612,-71.683934,1,ok,ok,ok,15123.949,"POLYGON ((217017.054 2070824.851, 217013.628 2..."
2,3960,11,sandia,1,1.886400,18.398572,-70.828074,0,Revisar área,se movió hacía la derecha,ok,11223.063,"POLYGON ((307057.321 2035241.201, 307076.663 2..."
3,4078,11,tayota,0,3.772800,18.746476,-70.890228,1,ok,ok,ok,8284.331,"POLYGON ((300751.861 2073814.411, 300736.664 2..."
4,4114,11,tomate industrial,1,3.898560,18.431298,-70.845022,0,ok,ok,"ok, revisar tipo cultivo",15139.726,"POLYGON ((305204.340 2038895.965, 305200.914 2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,3214,13,berenjena,1,0.943200,19.322130,-71.243369,0,Revisar el área y tipo de cultivo,Revisar tipo de cultivo,"ok, revisar tipo de cultivo",15133.140,"POLYGON ((264366.363 2137998.403, 264362.937 2..."
373,3214,12,batata,1,1.886400,19.323100,-71.233156,0,Revisar el área,ok,ok,15133.320,"POLYGON ((265441.225 2138091.917, 265437.799 2..."
374,3326,12,cebolla,1,0.880320,19.799531,-70.975485,1,"Revisar el área, centrar",Se movió hacia abajo,"ok, arboles",15137.919,"POLYGON ((293161.821 2190453.292, 293158.395 2..."
375,3375,21,berenjena,1,2.012160,19.431086,-70.506591,0,ok,ok,ok,12410.600,"POLYGON ((341773.345 2149178.057, 341818.744 2..."
376,3514,21,berenjena,1,2.200800,19.425526,-70.513926,0,ok,ok,"ok, arbustos",9493.377,"POLYGON ((341105.574 2148616.066, 341095.855 2..."

In [12]:
point["corregido"] = point["corregido"].str.lower()

In [13]:
table = point.stb.freq(['corregido'])
table
# 435-45

,corregido,count,percent,cumulative_count,cumulative_percent
0,ok,95,25.198939,95,25.198939
1,se movió hacia la derecha,29,7.692308,124,32.891247
2,se movió hacia la izquierda,24,6.366048,148,39.257294
3,se movió hacia abajo,24,6.366048,172,45.623342
4,se movió hacia arriba,19,5.039788,191,50.663130
...,...,...,...,...,...
106,"mover hacia la izquierda, la zona de influenci...",1,0.265252,373,98.938992
107,la zona de influencia contiene edificaciones y...,1,0.265252,374,99.204244
108,la zona de influenca tiene árboles,1,0.265252,375,99.469496
109,el tipo de cultivo no corresponde,1,0.265252,376,99.734748
110,el cultivo comparte el área de influencia con ...,1,0.265252,377,100.000000

In [14]:
table.to_csv("Data_IDB/corregido_final.csv",encoding="LATIN-1")

In [23]:
print(sum(table[table['corregido'].str.contains("inferiores")]["count"]))
print(sum(table[table['corregido'].str.contains("inferiores")]["percent"]))
# sum(table[table['correccion'].str.contains("vía & mover")].percent)
# vía

0
0

In [13]:
83
23.1
a = table[table['corregido'].str.contains("ok")]
b = a[a['corregido'].str.contains("movió")]
print (sum(b["count"]))
print (sum(b["percent"]))
b

1
0.22988505747126436

,corregido,count,percent,cumulative_count,cumulative_percent
126,"ok, no se movió hacia al centro para que no af...",1,0.229885,425,97.701149

# saber cuantos puntos hay en cada provincia

- lectura de shapefile con puntos y provincias

In [43]:
pro = gpd.read_file("Data_IDB/new/point_province.shp")
str1 = [str(int) for int in pro["cuest_id_b"]] 
str2 = [str(int) for int in pro["parcela"]]
pro["ID"] = [int(s1 + s2) for s1, s2 in zip(str1, str2)]
pro = pro[["ID",'TOPONIMIA',"cuest_id_b"]]
pro

         ID TOPONIMIA  cuest_id_b
0     38911   PERAVIA         389
1     39311   PERAVIA         393
2     46611   PERAVIA         466
3     54411   PERAVIA         544
4     56811   PERAVIA         568
..      ...       ...         ...
430  404512      AZUA        4045
431  405511  SAN JUAN        4055
432  407812      AZUA        4078
433  408011      AZUA        4080
434  408411      AZUA        4084

[435 rows x 3 columns]

- lectura csv con todos los puntos

In [53]:
orig = pd.read_csv("Data_IDB/Panel_data_PATCA-DR-only_baseline.csv",  encoding='LATIN-1' )
str1 = [str(int) for int in orig["cuest_id_b"]] 
str2 = [str(int) for int in orig["parcela"]]
orig["ID"] = [int(s1 + s2) for s1, s2 in zip(str1, str2)]
# orig = orig[["ID"]]
table = orig.stb.freq(["ID"])
table

         ID  count   percent  cumulative_count  cumulative_percent
0    336511     26  4.107425                26            4.107425
1    338021     21  3.317536                47            7.424961
2    392311      6  0.947867                53            8.372828
3    379011      5  0.789889                58            9.162717
4    378711      5  0.789889                63            9.952607
..      ...    ...       ...               ...                 ...
436   48111      1  0.157978               629           99.368088
437   46611      1  0.157978               630           99.526066
438   39311      1  0.157978               631           99.684044
439   38911      1  0.157978               632           99.842022
440   27611      1  0.157978               633          100.000000

[441 rows x 5 columns]

- merge data

In [45]:
merge = orig.merge(pro,how='inner', on=["ID"])
merge

         ID TOPONIMIA  cuest_id_b
0     27611   DAJABÓN         276
1     38911   PERAVIA         389
2     39311   PERAVIA         393
3     46611   PERAVIA         466
4     48111   PERAVIA         481
..      ...       ...         ...
620  408411      AZUA        4084
621  408811      AZUA        4088
622  411111  SAN JUAN        4111
623  411112  SAN JUAN        4111
624  411411      AZUA        4114

[625 rows x 3 columns]

In [51]:
fid_without_coords = []
for fid in orig.ID.unique():
    db = merge[merge.ID==fid]
    if len(db)==0:
        fid_without_coords.append(fid)
fid_without_coords

[255221, 333111, 334221, 335011, 335911, 404511]

In [61]:
orig[orig.ID == 404511][["X","Y"]]

      X   Y
601 NaN NaN
602 NaN NaN

In [ ]:
	X	Y
85	-71.535797	19.564339
87	-71.535797	19.564339

In [64]:
633-4
629-625

4

In [66]:
table = merge.stb.freq(['TOPONIMIA'])
# table.to_csv("Data_IDB/tabla_final_provincias.csv")
# table.to_csv("Provincias.csv", encoding='LATIN-1')