In [2]:
import geopandas as gpd
import pandas as pd
import glob, os
from shapely.geometry import Point
import sidetable

In [3]:
g = os.getcwd()
g
path = 'D:\\OneDrive-CGIAR\\Workspace\\bank'
os.chdir(path)

In [60]:
point = gpd.read_file("Data_IDB/new/puntos/Points_DR.shp")

In [61]:
point

,cuest_id_b,parcela,cultivo,temporary_,superf_par,Y,X,patca,correccion,geometry
0,389,11,mango,0,1.697760,18.291666,-70.325005,0,mover hacia el centro del cultivo y revisar el...,POINT (359953.815 2022963.122)
1,393,11,mango,0,4.401599,18.229546,-70.459127,0,mover hacia el centro del cultivo,POINT (345720.579 2016196.555)
2,466,11,cero,0,2.483760,18.218817,-70.496776,0,revisar área,POINT (341729.370 2015041.320)
3,544,11,mango,0,5.596319,18.404163,-70.294353,0,revisar área,POINT (363282.569 2035389.118)
4,568,11,mango,0,3.584160,18.219846,-70.486276,0,mover hacia el centro del cultivo y revisar el...,POINT (342840.777 2015146.158)
...,...,...,...,...,...,...,...,...,...,...
430,4045,12,cafe,0,5.030399,18.752170,-70.896622,1,ok,POINT (300057.908 2074470.099)
431,4055,11,batata,1,1.886400,18.922563,-71.611387,1,"El punto se encuentra sobre la vía, mover",POINT (224949.196 2094292.911)
432,4078,12,cafe,0,4.401599,18.746051,-70.879410,1,Revisar el área,POINT (301865.777 2073773.538)
433,4080,11,aguacate,0,25.151997,18.733081,-70.910666,0,El punto se encuentra cercano al otro cultivo ...,POINT (298554.301 2072372.887)
434,4084,11,arroz,1,0.817440,18.729731,-70.961163,0,ok,POINT (293224.573 2072059.867)

In [62]:
point["correccion"] = point["correccion"].str.lower()

In [63]:
table = point.stb.freq(['correccion'])
table.head()

,correccion,count,percent,cumulative_count,cumulative_percent
0,ok,73,16.781609,73,16.781609
1,revisar área,68,15.632184,141,32.413793
2,mover hacia el centro del cultivo,27,6.206897,168,38.620690
3,mover hacia el centro del cultivo y revisar área,19,4.367816,187,42.988506
4,mover hacia el centro del cultivo y revisar el...,17,3.908046,204,46.896552

In [64]:
# table.to_csv("Data_IDB/correction.csv",encoding="LATIN-1")

In [84]:
sum(table[table['correccion'].str.contains("vía")]["count"])
# sum(table[table['correccion'].str.contains("vía & mover")].percent)
# vía

98

In [85]:
a = table[table['correccion'].str.contains("mover")]
b = a[a['correccion'].str.contains("vía")]
print (sum(b["count"]))
print (sum(b["percent"]))

74
17.01149425287357

In [4]:
pro = gpd.read_file("Data_IDB/new/test.shp")

In [9]:
table = pro.stb.freq(['TOPONIMIA'])
table
table.to_csv("Provincias.csv", encoding='LATIN-1')